:root{
    --color-bg-nav: #2c3e50;
    --color-bg-section: #1abc9c;
    --color-bg-footer: #3a546d;
}

.bg-color-nav{
    background-color: var(--color-bg-nav);
}

.bg-color-section{
    background-color: var(--color-bg-section);
}

.bg-color-footer{
    background-color: var(--color-bg-footer);
}

.bg-color-w{
    background-color: var(--bs-white);
}

.bg-color-b{
    background-color: var(--bs-black);
}

.ms_color_active{
    color: var(--color-bg-section);
}

.ms_fix_h{
    height: 200px;
}

.ms_max_w_80{
    width: 80%;
    margin: 0 auto;
}

.ms_circle_icon{
    border: 1px solid white;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    line-height: 35px;
}


.ms_bar{
    width: 100px;
    height: 2px;
}


