:root{
    --color-bg-nav: #2c3e50;
    --color-bg-section: #1abc9c;
    --color-bg-footer: #3a546d;
}

/* My color */

.bg-color-nav{
    background-color: var(--color-bg-nav);
}

.bg-color-section{
    background-color: var(--color-bg-section);
}

.bg-color-footer{
    background-color: var(--color-bg-footer);
}

.bg-color-w{
    background-color: var(--bs-white);
}

.bg-color-b{
    background-color: var(--bs-black);
}

.ms_color_active{
    color: var(--color-bg-section);
}


/* My Common */

.ms_fix_h{
    height: 200px;
}

/* container */

.ms_max_w_80{
    width: 80%;
    margin: 0 auto;
}



.ms_circle_icon{
    border: 1px solid white;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    line-height: 35px;
}


/* Spacer */
.ms_bar{
    width: 10%;
    height: 3px;
}

.ms_border{
    border: 1px solid rgba(255, 255, 255, 1);
    color: white;
}

.ms_svg_w{
    filter: invert(1);
}


/* Bonus hover */

.col:hover img{
    opacity: 0.5;
}

.ms_w_calc{
    width: calc(100% - 24px);
    display: none;
}

.col:hover .ms_w_calc{
    display: block;
    opacity: 0.6;
}

.ms_icon_plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    display: none;
}

.col:hover .ms_icon_plus{
    display: block;
}







